# Go build
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go modules
vendor/

# IDE/editor
.vscode/
.idea/
*.swp
*.swo
*.bak
.DS_Store

# Logs
*.log

# Docker
*.env
docker-compose.override.yml

# Config
config.yml

# Coverage
coverage.out

# Others
node_modules/
download-pickup-certificate/
/sample/
/uploads/uploads/
/init-db/

# Uploads - ignore all files but keep directory structure
/uploads/*
!/uploads/.gitkeep
!/uploads/avatars/
!/uploads/images/
!/uploads/audio/
!/uploads/certificate/
/uploads/avatars/*
!/uploads/avatars/.gitkeep
/uploads/images/*
!/uploads/images/.gitkeep
/uploads/audio/*
!/uploads/audio/.gitkeep
/uploads/certificate/*
!/uploads/certificate/.gitkeep
